<IfModule mod_authz_core.c>
  <FilesMatch "^(\.env|mpurse\.env|.*\.json)$">
    Require all denied
  </FilesMatch>
</IfModule>
<IfModule !mod_authz_core.c>
  <FilesMatch "^(\.env|mpurse\.env|.*\.json)$">
    Order allow,deny
    Deny from all
  </FilesMatch>
</IfModule>
